workflows/calendar__oo6JjWbpUndw5o2b.json
{
  "updatedAt": "2026-05-09T10:02:40.112Z",
  "createdAt": "2026-05-08T08:29:45.507Z",
  "id": "oo6JjWbpUndw5o2b",
  "name": "calendar",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "argentum.orchesta@gmail.com",
          "mode": "list",
          "cachedResultName": "argentum.orchesta@gmail.com"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        224
      ],
      "id": "1060119d-983f-41c8-8b8d-c521bff35938",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3SaWX8v9Bf3RrKGr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "febfd176-df2d-4302-b7a2-c5e46bd52898"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carousel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f3299da-7d08-4dab-b164-148fa179c641",
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8fa3cce-9c2b-437a-b8fd-004146f86e6e",
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Story",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Story"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f64c92b1-d52c-4233-ba3c-cc8acd7a25cf",
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "X",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2058f3e6-3f50-4a0b-9913-bc97a40f05a3",
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "Threads",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8f5d38e3-3d56-4e04-813c-5410fefd60b8",
                    "leftValue": "={{ $json.summary }}",
                    "rightValue": "TikTok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TikTok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        160
      ],
      "id": "62df02ab-3a4e-4da9-a3fb-bdf14662a7b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "time for X"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        320
      ],
      "id": "f330e100-2cd6-4d45-8f0a-8cf3ec9456ff",
      "name": "reportTelegram3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "time for Threads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        512
      ],
      "id": "6a295616-80e0-400a-bc86-e96b9f8576f8",
      "name": "reportTelegram4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "time for TikTok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        704
      ],
      "id": "7846b0a1-3d87-4594-a147-4624964ae719",
      "name": "reportTelegram5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/mediaUpdate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -256
      ],
      "id": "6638f8f8-16f0-4b4b-864b-0fef2c4af390",
      "name": "getUpdate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/postCarousels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -64
      ],
      "id": "f9614e88-f099-4ddc-b09a-3e51101b3acb",
      "name": "postCarousels"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/postStories",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        128
      ],
      "id": "7553e578-9088-4981-ab2f-1d0e6349e3d6",
      "name": "postStories"
    }
  ],
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "postCarousels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getUpdate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postStories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reportTelegram3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reportTelegram4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reportTelegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2026-05-09T10:02:43Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d9b84852-428f-446d-9d18-c40ff89629eb",
  "activeVersionId": "d9b84852-428f-446d-9d18-c40ff89629eb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-08T08:29:45.515Z",
      "createdAt": "2026-05-08T08:29:45.515Z",
      "role": "workflow:owner",
      "workflowId": "oo6JjWbpUndw5o2b",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T10:02:44.000Z",
    "createdAt": "2026-05-09T10:02:40.113Z",
    "versionId": "d9b84852-428f-446d-9d18-c40ff89629eb",
    "workflowId": "oo6JjWbpUndw5o2b",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "calendarId": {
            "__rl": true,
            "value": "argentum.orchesta@gmail.com",
            "mode": "list",
            "cachedResultName": "argentum.orchesta@gmail.com"
          },
          "triggerOn": "eventStarted",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTrigger",
        "typeVersion": 1,
        "position": [
          -336,
          224
        ],
        "id": "1060119d-983f-41c8-8b8d-c521bff35938",
        "name": "Google Calendar Trigger",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "3SaWX8v9Bf3RrKGr",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "Carousel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "febfd176-df2d-4302-b7a2-c5e46bd52898"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Carousel"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0f3299da-7d08-4dab-b164-148fa179c641",
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "Reel",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Reel"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f8fa3cce-9c2b-437a-b8fd-004146f86e6e",
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "Story",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Story"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f64c92b1-d52c-4233-ba3c-cc8acd7a25cf",
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "X",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "X"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "2058f3e6-3f50-4a0b-9913-bc97a40f05a3",
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "Threads",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Threads"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "8f5d38e3-3d56-4e04-813c-5410fefd60b8",
                      "leftValue": "={{ $json.summary }}",
                      "rightValue": "TikTok",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TikTok"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -112,
          160
        ],
        "id": "62df02ab-3a4e-4da9-a3fb-bdf14662a7b2",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "time for X"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          320
        ],
        "id": "f330e100-2cd6-4d45-8f0a-8cf3ec9456ff",
        "name": "reportTelegram3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "time for Threads"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          512
        ],
        "id": "6a295616-80e0-400a-bc86-e96b9f8576f8",
        "name": "reportTelegram4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "time for TikTok"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          704
        ],
        "id": "7846b0a1-3d87-4594-a147-4624964ae719",
        "name": "reportTelegram5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/mediaUpdate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          -256
        ],
        "id": "6638f8f8-16f0-4b4b-864b-0fef2c4af390",
        "name": "getUpdate"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/postCarousels",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          -64
        ],
        "id": "f9614e88-f099-4ddc-b09a-3e51101b3acb",
        "name": "postCarousels"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/postStories",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          112,
          128
        ],
        "id": "7553e578-9088-4981-ab2f-1d0e6349e3d6",
        "name": "postStories"
      }
    ],
    "connections": {
      "Google Calendar Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "postCarousels",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "getUpdate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postStories",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "reportTelegram3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "reportTelegram4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "reportTelegram5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": "Version d9b84852",
    "description": "",
    "autosaved": true
  },
  "tags": []
}