workflows/cleanGitHub__IPnihWjOYJfjF2GM.json
{
  "updatedAt": "2026-05-17T10:47:18.628Z",
  "createdAt": "2026-05-09T09:49:07.259Z",
  "id": "IPnihWjOYJfjF2GM",
  "name": "cleanGitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "=argentumorchesta-rgb"
        },
        "repository": {
          "__rl": true,
          "value": "media",
          "mode": "list",
          "cachedResultName": "media",
          "cachedResultUrl": "https://github.com/argentumorchesta-rgb/media"
        },
        "filePath": "=images/{{ $json.file_name }}",
        "commitMessage": "RPI5 cleaning"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1440,
        1664
      ],
      "id": "50f9c0ee-b0f0-4183-8266-51a200fb66c8",
      "name": "Delete a file1",
      "webhookId": "30c8ac39-457a-4f98-b1cc-f1764d8ba5de",
      "credentials": {
        "githubApi": {
          "id": "aMGVDwqxYaSd3h0q",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        1616
      ],
      "id": "22b26392-76e4-48b1-9049-6aaa47a570f6",
      "name": "loopDelete1"
    },
    {
      "parameters": {
        "jsCode": "return $('Start').first().json.updateStatus1_allItems.map(({ json }) => ({\n  json: {\n    file_name: json.Id + \".png\",\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        1616
      ],
      "id": "c8fe9e8a-949b-4e2b-9ccd-7ede8294ebb2",
      "name": "splitDelete1"
    },
    {
      "parameters": {
        "jsCode": "// Ignore all input items, output a single message\nreturn [{\n  json: {\n    message: \"Github > Cleaned\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1472
      ],
      "id": "5b6021d8-fe3b-4086-ac72-6d14498cdb7a",
      "name": "setMessage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        1472
      ],
      "id": "bea58b2e-902c-4584-8843-8350fddfdc45",
      "name": "reportTelegram1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "updateStatus1_allItems",
              "type": "any"
            }
          ]
        }
      },
      "id": "0e9db6ba-0013-4c40-8bfe-e6508511d75d",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        768,
        1616
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "splitDelete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitDelete1": {
      "main": [
        [
          {
            "node": "loopDelete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopDelete1": {
      "main": [
        [
          {
            "node": "setMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "loopDelete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setMessage": {
      "main": [
        [
          {
            "node": "reportTelegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cf5a7385-e128-456e-b5c6-1343be98cf77",
  "activeVersionId": "cf5a7385-e128-456e-b5c6-1343be98cf77",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-09T09:49:07.263Z",
      "createdAt": "2026-05-09T09:49:07.263Z",
      "role": "workflow:owner",
      "workflowId": "IPnihWjOYJfjF2GM",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-17T10:47:21.000Z",
    "createdAt": "2026-05-17T10:47:18.629Z",
    "versionId": "cf5a7385-e128-456e-b5c6-1343be98cf77",
    "workflowId": "IPnihWjOYJfjF2GM",
    "nodes": [
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "=argentumorchesta-rgb"
          },
          "repository": {
            "__rl": true,
            "value": "media",
            "mode": "list",
            "cachedResultName": "media",
            "cachedResultUrl": "https://github.com/argentumorchesta-rgb/media"
          },
          "filePath": "=images/{{ $json.file_name }}",
          "commitMessage": "RPI5 cleaning"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1440,
          1664
        ],
        "id": "50f9c0ee-b0f0-4183-8266-51a200fb66c8",
        "name": "Delete a file1",
        "webhookId": "30c8ac39-457a-4f98-b1cc-f1764d8ba5de",
        "credentials": {
          "githubApi": {
            "id": "aMGVDwqxYaSd3h0q",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1216,
          1616
        ],
        "id": "22b26392-76e4-48b1-9049-6aaa47a570f6",
        "name": "loopDelete1"
      },
      {
        "parameters": {
          "jsCode": "return $('Start').first().json.updateStatus1_allItems.map(({ json }) => ({\n  json: {\n    file_name: json.Id + \".png\",\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          1616
        ],
        "id": "c8fe9e8a-949b-4e2b-9ccd-7ede8294ebb2",
        "name": "splitDelete1"
      },
      {
        "parameters": {
          "jsCode": "// Ignore all input items, output a single message\nreturn [{\n  json: {\n    message: \"Github > Cleaned\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          1472
        ],
        "id": "5b6021d8-fe3b-4086-ac72-6d14498cdb7a",
        "name": "setMessage"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.argentumorchesta.org/webhook/telegram-notify",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1664,
          1472
        ],
        "id": "bea58b2e-902c-4584-8843-8350fddfdc45",
        "name": "reportTelegram1"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "updateStatus1_allItems",
                "type": "any"
              }
            ]
          }
        },
        "id": "0e9db6ba-0013-4c40-8bfe-e6508511d75d",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          768,
          1616
        ]
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "splitDelete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "splitDelete1": {
        "main": [
          [
            {
              "node": "loopDelete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "loopDelete1": {
        "main": [
          [
            {
              "node": "setMessage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file1": {
        "main": [
          [
            {
              "node": "loopDelete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setMessage": {
        "main": [
          [
            {
              "node": "reportTelegram1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": "Version cf5a7385",
    "description": "",
    "autosaved": true
  },
  "tags": []
}