workflows/instagramComments__grXcW1m7MC4fktqB.json
{
  "updatedAt": "2026-06-27T12:03:13.199Z",
  "createdAt": "2026-06-27T06:14:19.623Z",
  "id": "grXcW1m7MC4fktqB",
  "name": "instagramComments",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "verifyToken": "test123",
        "eventsToInclude": [
          "comments"
        ]
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagramTrigger",
      "typeVersion": 2,
      "position": [
        -1184,
        -432
      ],
      "id": "331e91b5-9015-4671-9178-501cd8e18740",
      "name": "Instagram Trigger",
      "webhookId": "779c1950-b01b-4c40-8d93-5628da3bb0e4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "17841478136820581",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f638fe8-b1b6-4973-9554-a5108f14e71b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "maeve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8de5ff05-1e38-484c-9b8a-693816f52f13",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "17841480189765921",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "elara"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ffe95072-9b92-4e15-a754-df02b37d7b93",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "17841480706715642",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "amara"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -16
      ],
      "id": "4f607932-e93c-4285-97d4-35c999465f32",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// === Maeve/Elara/Amara ? Instagram comments parser + self-reply filter ===\n// Code node mode: \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// Map IG Business Account ID -> girl's name\nconst OWNERS = {\n  '17841478136820581': 'Maeve',\n  '17841480189765921': 'Elara',\n  '17841480706715642': 'Amara',\n};\n\nconst OWNER_OVERRIDE = ''; // optional: force an owner id, leave '' to auto-detect\n\nfunction getPayload(item) {\n  const j = item.json || {};\n  return j.body !== undefined ? j.body : j;\n}\n\nfunction extractChanges(payload) {\n  const out = [];\n  const blocks = Array.isArray(payload) ? payload : [payload];\n\n  for (const block of blocks) {\n    if (!block || typeof block !== 'object') continue;\n\n    // Shape A ? flattened shape\n    if (block.value && (block.field === 'comments' || block.value.text !== undefined)) {\n      out.push({ ownerId: String(block.id ?? ''), value: block.value, time: block.time });\n      continue;\n    }\n\n    // Shape B ? standard IG graph webhook\n    if (Array.isArray(block.entry)) {\n      for (const entry of block.entry) {\n        for (const change of (entry.changes || [])) {\n          if (change.field !== 'comments') continue;\n          out.push({ ownerId: String(entry.id ?? ''), value: change.value, time: entry.time });\n        }\n      }\n    }\n  }\n  return out;\n}\n\nconst results = [];\n\nfor (const item of items) {\n  for (const c of extractChanges(getPayload(item))) {\n    const v = c.value || {};\n    const from = v.from || {};\n\n    const commenterId   = String(from.id ?? '');\n    const commenterName = from.username ?? '';\n    const commentId     = String(v.id ?? '');\n    const text          = (v.text ?? '').trim();\n    const mediaId       = String(v.media?.id ?? '');\n    const ownerId       = OWNER_OVERRIDE || c.ownerId;\n    const ownerName     = OWNERS[ownerId] || 'Unknown';   // <-- new\n\n    // Skip self-comments (owner === commenter) + loop prevention\n    if (ownerId && commenterId && ownerId === commenterId) {\n      console.log(`Skip self-comment from @${commenterName} on ${ownerName}'s post`);\n      continue;\n    }\n\n    // Skip empty / non-comment events\n    if (!commentId || !text) {\n      console.log('Skip: missing comment id or empty text');\n      continue;\n    }\n\n    results.push({\n      json: {\n        commentId,\n        text,\n        commenterId,\n        commenterName,\n        mediaId,\n        ownerId,\n        ownerName,        // <-- new\n        time: c.time,\n      },\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -432
      ],
      "id": "cb19a335-3cfd-4fc3-8d69-dbc3a08701e3",
      "name": "processMessage"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        -240
      ],
      "id": "aa64c0fc-5831-47ed-805a-19530ecf51ff",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "971b0afc-7494-48d1-8585-e0cdeed2b1ab",
              "name": "maeveToken",
              "value": "IGAAXVb07ZCZBz9BZAGFMMmhJZAmI4M28tYXNiVGFNbXhZAamd1TjkxcVBucmhXR053eHlIcGFrRktYeGYzRWlsTjF2WXlEZAWpfOXVoWVNpamFwdGRlSFV4VDQwVTE3aVI3bU5mNnN6V21pZA1NYVDVVUXI3RVlkNW1fR1BYSjRCY1lLRQZDZD",
              "type": "string"
            },
            {
              "id": "bae5d865-19bc-4233-b0b3-315c271272d9",
              "name": "elaraToken",
              "value": "IGAAXVb07ZCZBz9BZAGJDZAGc0c05NUXBSbVJ2NFZA4ZA2dTNWRrbGp2REFIWFF1Wi1HQmUwY25LRk9FNUlWbkpOc2VtTkZASMmR3Ylg4dV9obUNNekJtNmRaTUlyakFucGNxWXk2Y0JyTWQ4MHRQVUp6cC1fR3d6bU5FN2xTTnU4S3pnQQZDZD",
              "type": "string"
            },
            {
              "id": "b2728c8b-1c90-4613-af6b-d249f1d14b49",
              "name": "amaraToken",
              "value": "IGAAXVb07ZCZBz9BZAGIyZAHJMamZAkb3Y5ZAE1DRDduTmY3UDMwNnlJQ3hiVThtU2tLUkNHOEhOcWFYZAm54X2ZAhNkc2Ykc0Y1lleXRobDVJMVJfck5tWmZA1S0tONXZA0Yk01QmVfVl9wSzZAVZATg0cEZA5dm5JX1RIVi1pRE00U0dXRDNIUQZDZD",
              "type": "string"
            },
            {
              "id": "7062909c-0db0-42cb-8be7-b1b2a630afff",
              "name": "maeveId",
              "value": "17841478136820581",
              "type": "string"
            },
            {
              "id": "18d148ea-d800-4617-9b5b-c05de706ad01",
              "name": "elaraId",
              "value": "17841480189765921",
              "type": "string"
            },
            {
              "id": "93b56442-9db3-47e9-b6cc-88d2fce5839c",
              "name": "amaraId",
              "value": "17841480706715642",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -240
      ],
      "id": "8a7f4672-6779-4eee-9080-301d02a38da6",
      "name": "Tokens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/18107150338956868/replies",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=THANK YOU"
            },
            {
              "name": "access_token",
              "value": "=IGAAXVb07ZCZBz9BZAGFMMmhJZAmI4M28tYXNiVGFNbXhZAamd1TjkxcVBucmhXR053eHlIcGFrRktYeGYzRWlsTjF2WXlEZAWpfOXVoWVNpamFwdGRlSFV4VDQwVTE3aVI3bU5mNnN6V21pZA1NYVDVVUXI3RVlkNW1fR1BYSjRCY1lLRQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        -240
      ],
      "id": "f048a187-daaf-4829-8cc8-756123fc6905",
      "name": "replycomment"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c",
          "mode": "list",
          "cachedResultName": "Control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1317395315,
          "mode": "list",
          "cachedResultName": "Comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit#gid=1317395315"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time }}",
            "Text": "={{ $json.text }}",
            "ownerId": "={{ $json.ownerId }}",
            "mediaId": "={{ $json.mediaId }}",
            "CommenterName": "={{ $json.commenterName }}",
            "CommenterId": "={{ $json.commenterId }}",
            "CommentId": "={{ $json.commentId }}",
            "Replied": "No"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommentId",
              "displayName": "CommentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommenterId",
              "displayName": "CommenterId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommenterName",
              "displayName": "CommenterName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaId",
              "displayName": "mediaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ownerId",
              "displayName": "ownerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -432
      ],
      "id": "9c9aca93-aeff-4e17-9918-a68c53196a62",
      "name": "updateSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8staDpXz9g846djb",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Instagram Trigger": {
      "main": [
        [
          {
            "node": "processMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokens": {
      "main": [
        [
          {
            "node": "replycomment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processMessage": {
      "main": [
        [
          {
            "node": "updateSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "10e69c52-16fe-4009-8692-18b755dc3a0f",
  "activeVersionId": "10e69c52-16fe-4009-8692-18b755dc3a0f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-27T06:14:19.635Z",
      "createdAt": "2026-06-27T06:14:19.635Z",
      "role": "workflow:owner",
      "workflowId": "grXcW1m7MC4fktqB",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-27T12:03:14.000Z",
    "createdAt": "2026-06-27T12:03:13.200Z",
    "versionId": "10e69c52-16fe-4009-8692-18b755dc3a0f",
    "workflowId": "grXcW1m7MC4fktqB",
    "nodes": [
      {
        "parameters": {
          "verifyToken": "test123",
          "eventsToInclude": [
            "comments"
          ]
        },
        "type": "@mookielianhd/n8n-nodes-instagram.instagramTrigger",
        "typeVersion": 2,
        "position": [
          -1184,
          -432
        ],
        "id": "331e91b5-9015-4671-9178-501cd8e18740",
        "name": "Instagram Trigger",
        "webhookId": "779c1950-b01b-4c40-8d93-5628da3bb0e4"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.id }}",
                      "rightValue": "17841478136820581",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3f638fe8-b1b6-4973-9554-a5108f14e71b"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "maeve"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "8de5ff05-1e38-484c-9b8a-693816f52f13",
                      "leftValue": "={{ $json.id }}",
                      "rightValue": "17841480189765921",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "elara"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ffe95072-9b92-4e15-a754-df02b37d7b93",
                      "leftValue": "={{ $json.id }}",
                      "rightValue": "17841480706715642",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "amara"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1088,
          -16
        ],
        "id": "4f607932-e93c-4285-97d4-35c999465f32",
        "name": "Switch",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// === Maeve/Elara/Amara ? Instagram comments parser + self-reply filter ===\n// Code node mode: \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// Map IG Business Account ID -> girl's name\nconst OWNERS = {\n  '17841478136820581': 'Maeve',\n  '17841480189765921': 'Elara',\n  '17841480706715642': 'Amara',\n};\n\nconst OWNER_OVERRIDE = ''; // optional: force an owner id, leave '' to auto-detect\n\nfunction getPayload(item) {\n  const j = item.json || {};\n  return j.body !== undefined ? j.body : j;\n}\n\nfunction extractChanges(payload) {\n  const out = [];\n  const blocks = Array.isArray(payload) ? payload : [payload];\n\n  for (const block of blocks) {\n    if (!block || typeof block !== 'object') continue;\n\n    // Shape A ? flattened shape\n    if (block.value && (block.field === 'comments' || block.value.text !== undefined)) {\n      out.push({ ownerId: String(block.id ?? ''), value: block.value, time: block.time });\n      continue;\n    }\n\n    // Shape B ? standard IG graph webhook\n    if (Array.isArray(block.entry)) {\n      for (const entry of block.entry) {\n        for (const change of (entry.changes || [])) {\n          if (change.field !== 'comments') continue;\n          out.push({ ownerId: String(entry.id ?? ''), value: change.value, time: entry.time });\n        }\n      }\n    }\n  }\n  return out;\n}\n\nconst results = [];\n\nfor (const item of items) {\n  for (const c of extractChanges(getPayload(item))) {\n    const v = c.value || {};\n    const from = v.from || {};\n\n    const commenterId   = String(from.id ?? '');\n    const commenterName = from.username ?? '';\n    const commentId     = String(v.id ?? '');\n    const text          = (v.text ?? '').trim();\n    const mediaId       = String(v.media?.id ?? '');\n    const ownerId       = OWNER_OVERRIDE || c.ownerId;\n    const ownerName     = OWNERS[ownerId] || 'Unknown';   // <-- new\n\n    // Skip self-comments (owner === commenter) + loop prevention\n    if (ownerId && commenterId && ownerId === commenterId) {\n      console.log(`Skip self-comment from @${commenterName} on ${ownerName}'s post`);\n      continue;\n    }\n\n    // Skip empty / non-comment events\n    if (!commentId || !text) {\n      console.log('Skip: missing comment id or empty text');\n      continue;\n    }\n\n    results.push({\n      json: {\n        commentId,\n        text,\n        commenterId,\n        commenterName,\n        mediaId,\n        ownerId,\n        ownerName,        // <-- new\n        time: c.time,\n      },\n    });\n  }\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -976,
          -432
        ],
        "id": "cb19a335-3cfd-4fc3-8d69-dbc3a08701e3",
        "name": "processMessage"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1184,
          -240
        ],
        "id": "aa64c0fc-5831-47ed-805a-19530ecf51ff",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "971b0afc-7494-48d1-8585-e0cdeed2b1ab",
                "name": "maeveToken",
                "value": "IGAAXVb07ZCZBz9BZAGFMMmhJZAmI4M28tYXNiVGFNbXhZAamd1TjkxcVBucmhXR053eHlIcGFrRktYeGYzRWlsTjF2WXlEZAWpfOXVoWVNpamFwdGRlSFV4VDQwVTE3aVI3bU5mNnN6V21pZA1NYVDVVUXI3RVlkNW1fR1BYSjRCY1lLRQZDZD",
                "type": "string"
              },
              {
                "id": "bae5d865-19bc-4233-b0b3-315c271272d9",
                "name": "elaraToken",
                "value": "IGAAXVb07ZCZBz9BZAGJDZAGc0c05NUXBSbVJ2NFZA4ZA2dTNWRrbGp2REFIWFF1Wi1HQmUwY25LRk9FNUlWbkpOc2VtTkZASMmR3Ylg4dV9obUNNekJtNmRaTUlyakFucGNxWXk2Y0JyTWQ4MHRQVUp6cC1fR3d6bU5FN2xTTnU4S3pnQQZDZD",
                "type": "string"
              },
              {
                "id": "b2728c8b-1c90-4613-af6b-d249f1d14b49",
                "name": "amaraToken",
                "value": "IGAAXVb07ZCZBz9BZAGIyZAHJMamZAkb3Y5ZAE1DRDduTmY3UDMwNnlJQ3hiVThtU2tLUkNHOEhOcWFYZAm54X2ZAhNkc2Ykc0Y1lleXRobDVJMVJfck5tWmZA1S0tONXZA0Yk01QmVfVl9wSzZAVZATg0cEZA5dm5JX1RIVi1pRE00U0dXRDNIUQZDZD",
                "type": "string"
              },
              {
                "id": "7062909c-0db0-42cb-8be7-b1b2a630afff",
                "name": "maeveId",
                "value": "17841478136820581",
                "type": "string"
              },
              {
                "id": "18d148ea-d800-4617-9b5b-c05de706ad01",
                "name": "elaraId",
                "value": "17841480189765921",
                "type": "string"
              },
              {
                "id": "93b56442-9db3-47e9-b6cc-88d2fce5839c",
                "name": "amaraId",
                "value": "17841480706715642",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -976,
          -240
        ],
        "id": "8a7f4672-6779-4eee-9080-301d02a38da6",
        "name": "Tokens"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.instagram.com/v25.0/18107150338956868/replies",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "=THANK YOU"
              },
              {
                "name": "access_token",
                "value": "=IGAAXVb07ZCZBz9BZAGFMMmhJZAmI4M28tYXNiVGFNbXhZAamd1TjkxcVBucmhXR053eHlIcGFrRktYeGYzRWlsTjF2WXlEZAWpfOXVoWVNpamFwdGRlSFV4VDQwVTE3aVI3bU5mNnN6V21pZA1NYVDVVUXI3RVlkNW1fR1BYSjRCY1lLRQZDZD"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -784,
          -240
        ],
        "id": "f048a187-daaf-4829-8cc8-756123fc6905",
        "name": "replycomment"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c",
            "mode": "list",
            "cachedResultName": "Control",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1317395315,
            "mode": "list",
            "cachedResultName": "Comments",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit#gid=1317395315"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "time": "={{ $json.time }}",
              "Text": "={{ $json.text }}",
              "ownerId": "={{ $json.ownerId }}",
              "mediaId": "={{ $json.mediaId }}",
              "CommenterName": "={{ $json.commenterName }}",
              "CommenterId": "={{ $json.commenterId }}",
              "CommentId": "={{ $json.commentId }}",
              "Replied": "No"
            },
            "matchingColumns": [
              "Id"
            ],
            "schema": [
              {
                "id": "time",
                "displayName": "time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommentId",
                "displayName": "CommentId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommenterId",
                "displayName": "CommenterId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommenterName",
                "displayName": "CommenterName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mediaId",
                "displayName": "mediaId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ownerId",
                "displayName": "ownerId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Text",
                "displayName": "Text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Replied",
                "displayName": "Replied",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -784,
          -432
        ],
        "id": "9c9aca93-aeff-4e17-9918-a68c53196a62",
        "name": "updateSheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8staDpXz9g846djb",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Instagram Trigger": {
        "main": [
          [
            {
              "node": "processMessage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [],
          []
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tokens": {
        "main": [
          [
            {
              "node": "replycomment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "processMessage": {
        "main": [
          [
            {
              "node": "updateSheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": "Version 10e69c52",
    "description": "",
    "autosaved": true
  },
  "tags": []
}