workflows/instagramWebhook__grXcW1m7MC4fktqB.json
{
  "updatedAt": "2026-07-14T12:08:28.282Z",
  "createdAt": "2026-06-27T06:14:19.623Z",
  "id": "grXcW1m7MC4fktqB",
  "name": "instagramWebhook",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "verifyToken": "=test123",
        "eventsToInclude": [
          "comments",
          "messages"
        ]
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagramTrigger",
      "typeVersion": 2,
      "position": [
        -2064,
        -160
      ],
      "id": "331e91b5-9015-4671-9178-501cd8e18740",
      "name": "Instagram Trigger",
      "webhookId": "779c1950-b01b-4c40-8d93-5628da3bb0e4"
    },
    {
      "parameters": {
        "jsCode": "// === Maeve/Elara/Amara ? Instagram comments parser + self-reply filter ===\n// Code node mode: \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// Map IG Business Account ID -> girl's name\nconst OWNERS = {\n  '17841478136820581': 'Maeve',\n  '17841480189765921': 'Elara',\n  '17841480706715642': 'Amara',\n};\n\nconst OWNER_OVERRIDE = ''; // optional: force an owner id, leave '' to auto-detect\n\nfunction getPayload(item) {\n  const j = item.json || {};\n  return j.body !== undefined ? j.body : j;\n}\n\nfunction extractChanges(payload) {\n  const out = [];\n  const blocks = Array.isArray(payload) ? payload : [payload];\n\n  for (const block of blocks) {\n    if (!block || typeof block !== 'object') continue;\n\n    // Shape A ? flattened shape\n    if (block.value && (block.field === 'comments' || block.value.text !== undefined)) {\n      out.push({ ownerId: String(block.id ?? ''), value: block.value, time: block.time });\n      continue;\n    }\n\n    // Shape B ? standard IG graph webhook\n    if (Array.isArray(block.entry)) {\n      for (const entry of block.entry) {\n        for (const change of (entry.changes || [])) {\n          if (change.field !== 'comments') continue;\n          out.push({ ownerId: String(entry.id ?? ''), value: change.value, time: entry.time });\n        }\n      }\n    }\n  }\n  return out;\n}\n\nconst results = [];\n\nfor (const item of items) {\n  for (const c of extractChanges(getPayload(item))) {\n    const v = c.value || {};\n    const from = v.from || {};\n\n    const commenterId   = String(from.id ?? '');\n    const commenterName = from.username ?? '';\n    const commentId     = String(v.id ?? '');\n    const text          = (v.text ?? '').trim();\n    const mediaId       = String(v.media?.id ?? '');\n    const ownerId       = OWNER_OVERRIDE || c.ownerId;\n    const ownerName     = OWNERS[ownerId] || 'Unknown';   // <-- new\n\n    const timeISO = DateTime.fromSeconds(Number(c.time)).toISO();              // 2026-06-...T...+00:00\n    const timeReadable = DateTime.fromSeconds(Number(c.time)).toFormat('yyyy-MM-dd HH:mm:ss');\n    \n    // Skip self-comments (owner === commenter) + loop prevention\n    if (ownerId && commenterId && ownerId === commenterId) {\n      console.log(`Skip self-comment from @${commenterName} on ${ownerName}'s post`);\n      continue;\n    }\n\n    // Skip empty / non-comment events\n    if (!commentId || !text) {\n      console.log('Skip: missing comment id or empty text');\n      continue;\n    }\n\n    results.push({\n      json: {\n        commentId,\n        text,\n        commenterId,\n        commenterName,\n        mediaId,\n        ownerId,\n        ownerName,        // <-- new\n        time: timeReadable,    // human-readable instead of epoch\n        timeISO,               // ISO version (handy for sorting/databases)\n      },\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        -256
      ],
      "id": "cb19a335-3cfd-4fc3-8d69-dbc3a08701e3",
      "name": "processMessage"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c",
          "mode": "list",
          "cachedResultName": "Control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1317395315,
          "mode": "list",
          "cachedResultName": "Comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit#gid=1317395315"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time }}",
            "mediaId": "={{ $json.mediaId }}",
            "CommenterName": "={{ $json.commenterName }}",
            "CommenterId": "={{ $json.commenterId }}",
            "CommentId": "={{ $json.commentId }}",
            "Replied": "No",
            "timeISO": "={{ $json.timeISO }}",
            "Owner": "={{ $json.ownerName }}",
            "OwnerId": "={{ $json.ownerId }}",
            "CommentText": "={{ $json.text }}"
          },
          "matchingColumns": [
            "CommentId"
          ],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timeISO",
              "displayName": "timeISO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommentId",
              "displayName": "CommentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommenterId",
              "displayName": "CommenterId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommenterName",
              "displayName": "CommenterName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaId",
              "displayName": "mediaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OwnerId",
              "displayName": "OwnerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommentText",
              "displayName": "CommentText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reponse",
              "displayName": "Reponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RepliedAt",
              "displayName": "RepliedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1392,
        -256
      ],
      "id": "9c9aca93-aeff-4e17-9918-a68c53196a62",
      "name": "updateSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8staDpXz9g846djb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "comments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9bab89fe-62f9-4d43-8502-8841e83fe57a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comments"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9912680f-a1a8-46f5-afcd-14e81b5e6853",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "messages",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1840,
        -160
      ],
      "id": "c647d9db-e44d-4a60-8d04-ec08072c3164",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2064,
        -480
      ],
      "id": "6a66b411-617e-4370-a5ed-7f2477bebec1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE IF EXISTS messages CASCADE;\nDROP TABLE IF EXISTS conversations CASCADE;\nDROP TABLE IF EXISTS fans CASCADE;\nDROP TABLE IF EXISTS girls CASCADE;\nDROP TABLE IF EXISTS personas CASCADE;\nDROP TABLE IF EXISTS users CASCADE;\nDROP TABLE IF EXISTS girl_daily_limits CASCADE;\n\nCREATE TABLE girls (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  timezone TEXT NOT NULL,\n  awake_start TEXT NOT NULL,\n  awake_end TEXT NOT NULL,\n  default_fan_daily_cap INT NOT NULL DEFAULT 10,\n  max_fan_daily_cap INT NOT NULL DEFAULT 20,\n  global_daily_cap INT NOT NULL DEFAULT 150,\n  messages_sent_today INT NOT NULL DEFAULT 0,\n  messages_sent_date DATE NOT NULL DEFAULT CURRENT_DATE\n);\n\nCREATE TABLE fans (\n  fan_id TEXT PRIMARY KEY,\n  fan_name TEXT,\n  fan_nick TEXT NOT NULL DEFAULT 'sir',\n  girl_id TEXT REFERENCES girls(id),\n  manual_mode BOOLEAN NOT NULL DEFAULT false,\n  label TEXT,\n  summary_text TEXT,\n  last_summarized_at TIMESTAMPTZ,\n  daily_reply_cap INT NOT NULL DEFAULT 10,\n  replies_today INT NOT NULL DEFAULT 0,\n  replies_today_date DATE\n);\n\nCREATE TABLE conversations (\n  fan_id TEXT PRIMARY KEY REFERENCES fans(fan_id),\n  girl_id TEXT REFERENCES girls(id),\n  last_message_at TIMESTAMPTZ,\n  pending_reply BOOLEAN NOT NULL DEFAULT false\n);\n\nCREATE TABLE messages (\n  id SERIAL PRIMARY KEY,\n  conversation_id TEXT REFERENCES conversations(fan_id),\n  role TEXT NOT NULL CHECK (role IN ('fan','girl')),\n  content TEXT NOT NULL,\n  platform_message_id TEXT UNIQUE,\n  created_at TIMESTAMPTZ\n);\n\nINSERT INTO girls (id, name, timezone, awake_start, awake_end, default_fan_daily_cap, max_fan_daily_cap, global_daily_cap) VALUES\n('17841478136820581', 'Maeve', 'Europe/Dublin', '08:00', '01:00', 10, 20, 150),\n('17841480189765921', 'Elara', 'Europe/Oslo', '07:00', '23:00', 10, 20, 150),\n('17841480706715642', 'Amara', 'Africa/Lagos', '08:00', '00:00', 10, 20, 150);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2064,
        -928
      ],
      "id": "bc97e433-3547-4d97-893e-f18296266cbd",
      "name": "createDatabase",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.read !== undefined }}",
                    "rightValue": "comments",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9bab89fe-62f9-4d43-8502-8841e83fe57a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discard (NoOp)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9912680f-a1a8-46f5-afcd-14e81b5e6853",
                    "leftValue": "={{ $json.message.is_echo }}",
                    "rightValue": "messages",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "echo (outbound)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb525cd5-bf1b-44be-b29a-aa5afc4d5856",
                    "leftValue": "={{ $json.message !== undefined && !$json.message.is_echo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "genuine inbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -64
      ],
      "id": "fa714106-15ad-4639-8cb4-1cbb0f86062b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e514ede7-ad49-4f36-83bd-64aea4ab4bee",
              "name": "igAccountId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "110cf11b-0ebf-4eb1-8233-b10561edf226",
              "name": "otherPartyId",
              "value": "={{ $json.sender.id === $json.id ? $json.recipient.id : $json.sender.id }}",
              "type": "string"
            },
            {
              "id": "389b69e7-112e-469b-85f1-3d9a65b02e2b",
              "name": "role",
              "value": "={{ $json.message.is_echo ? 'girl' : 'fan' }}",
              "type": "string"
            },
            {
              "id": "d57a00c8-684f-4b70-ac44-33dddf4bdb65",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "35eae14b-ce91-4c5b-be46-69437e0a6408",
              "name": "mid",
              "value": "={{ $json.message.mid }}",
              "type": "string"
            },
            {
              "id": "8ccc2fde-3e4d-42bf-9a2c-8980c6693634",
              "name": "eventTimestamp",
              "value": "={{ $json.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -48
      ],
      "id": "0e59c290-8af4-4ded-9412-1dab1319ca41",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_size_pretty(SUM(pg_total_relation_size(relid))) AS my_data_size\nFROM pg_catalog.pg_statio_user_tables;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        -688
      ],
      "id": "9945bcdf-c36c-43eb-9a6b-bbeffbf0c86f",
      "name": "monitorSize",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  relname AS table_name,\n  pg_size_pretty(pg_total_relation_size(relid)) AS size\nFROM pg_catalog.pg_statio_user_tables\nORDER BY pg_total_relation_size(relid) DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        -480
      ],
      "id": "2c41e53f-7eb0-4460-be00-28a29d4d3571",
      "name": "monitorSizePerTable",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, created_at FROM messages ORDER BY created_at DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1440,
        -656
      ],
      "id": "6acb4f25-2cc5-4b11-918d-dd46c0fea67a",
      "name": "Test",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, default_fan_daily_cap FROM girls WHERE id = '{{ $('Set Fields').item.json.igAccountId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1168,
        -48
      ],
      "id": "009e9b8f-f0d3-456b-9c9e-d082a719fe47",
      "name": "updateGirls",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (fan_id, girl_id, last_message_at)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('updateGirls').item.json.id }}',\n  now()\n)\nON CONFLICT (fan_id) DO UPDATE\n  SET last_message_at = CASE\n    WHEN '{{ $('Set Fields').item.json.role }}' = 'fan' THEN now()\n    ELSE conversations.last_message_at\n  END;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        -48
      ],
      "id": "cc22c897-12db-419d-860b-acf1974b4def",
      "name": "updateConversations",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, role, content, platform_message_id, created_at)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('Set Fields').item.json.role }}',\n  '{{ $('Set Fields').item.json.text.replace(/'/g, \"''\") }}',\n  '{{ $('Set Fields').item.json.mid }}',\n  to_timestamp({{ $('Set Fields').item.json.eventTimestamp }}::bigint / 1000.0)\n)\nON CONFLICT (platform_message_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        -48
      ],
      "id": "6ad64163-84cb-46d3-846d-030bf38c4823",
      "name": "updateMessages",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fans (fan_id, girl_id, daily_reply_cap, replies_today_date)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('updateGirls').item.json.id }}',\n  {{ $('updateGirls').item.json.default_fan_daily_cap }},\n  CURRENT_DATE\n)\nON CONFLICT (fan_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        -48
      ],
      "id": "7baddf70-3fb6-49d9-a103-1fc30a464299",
      "name": "updateFans",
      "credentials": {
        "postgres": {
          "id": "PlkpKDh3ZUPtl1UI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Instagram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processMessage": {
      "main": [
        [
          {
            "node": "updateSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "processMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "monitorSizePerTable",
            "type": "main",
            "index": 0
          },
          {
            "node": "monitorSize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "updateGirls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateGirls": {
      "main": [
        [
          {
            "node": "updateFans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateConversations": {
      "main": [
        [
          {
            "node": "updateMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateFans": {
      "main": [
        [
          {
            "node": "updateConversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "67219772-45db-4814-8509-1b53e072916c",
  "activeVersionId": "67219772-45db-4814-8509-1b53e072916c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-27T06:14:19.635Z",
      "createdAt": "2026-06-27T06:14:19.635Z",
      "role": "workflow:owner",
      "workflowId": "grXcW1m7MC4fktqB",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-14T12:08:32.000Z",
    "createdAt": "2026-07-14T12:08:28.284Z",
    "versionId": "67219772-45db-4814-8509-1b53e072916c",
    "workflowId": "grXcW1m7MC4fktqB",
    "nodes": [
      {
        "parameters": {
          "verifyToken": "=test123",
          "eventsToInclude": [
            "comments",
            "messages"
          ]
        },
        "type": "@mookielianhd/n8n-nodes-instagram.instagramTrigger",
        "typeVersion": 2,
        "position": [
          -2064,
          -160
        ],
        "id": "331e91b5-9015-4671-9178-501cd8e18740",
        "name": "Instagram Trigger",
        "webhookId": "779c1950-b01b-4c40-8d93-5628da3bb0e4"
      },
      {
        "parameters": {
          "jsCode": "// === Maeve/Elara/Amara ? Instagram comments parser + self-reply filter ===\n// Code node mode: \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// Map IG Business Account ID -> girl's name\nconst OWNERS = {\n  '17841478136820581': 'Maeve',\n  '17841480189765921': 'Elara',\n  '17841480706715642': 'Amara',\n};\n\nconst OWNER_OVERRIDE = ''; // optional: force an owner id, leave '' to auto-detect\n\nfunction getPayload(item) {\n  const j = item.json || {};\n  return j.body !== undefined ? j.body : j;\n}\n\nfunction extractChanges(payload) {\n  const out = [];\n  const blocks = Array.isArray(payload) ? payload : [payload];\n\n  for (const block of blocks) {\n    if (!block || typeof block !== 'object') continue;\n\n    // Shape A ? flattened shape\n    if (block.value && (block.field === 'comments' || block.value.text !== undefined)) {\n      out.push({ ownerId: String(block.id ?? ''), value: block.value, time: block.time });\n      continue;\n    }\n\n    // Shape B ? standard IG graph webhook\n    if (Array.isArray(block.entry)) {\n      for (const entry of block.entry) {\n        for (const change of (entry.changes || [])) {\n          if (change.field !== 'comments') continue;\n          out.push({ ownerId: String(entry.id ?? ''), value: change.value, time: entry.time });\n        }\n      }\n    }\n  }\n  return out;\n}\n\nconst results = [];\n\nfor (const item of items) {\n  for (const c of extractChanges(getPayload(item))) {\n    const v = c.value || {};\n    const from = v.from || {};\n\n    const commenterId   = String(from.id ?? '');\n    const commenterName = from.username ?? '';\n    const commentId     = String(v.id ?? '');\n    const text          = (v.text ?? '').trim();\n    const mediaId       = String(v.media?.id ?? '');\n    const ownerId       = OWNER_OVERRIDE || c.ownerId;\n    const ownerName     = OWNERS[ownerId] || 'Unknown';   // <-- new\n\n    const timeISO = DateTime.fromSeconds(Number(c.time)).toISO();              // 2026-06-...T...+00:00\n    const timeReadable = DateTime.fromSeconds(Number(c.time)).toFormat('yyyy-MM-dd HH:mm:ss');\n    \n    // Skip self-comments (owner === commenter) + loop prevention\n    if (ownerId && commenterId && ownerId === commenterId) {\n      console.log(`Skip self-comment from @${commenterName} on ${ownerName}'s post`);\n      continue;\n    }\n\n    // Skip empty / non-comment events\n    if (!commentId || !text) {\n      console.log('Skip: missing comment id or empty text');\n      continue;\n    }\n\n    results.push({\n      json: {\n        commentId,\n        text,\n        commenterId,\n        commenterName,\n        mediaId,\n        ownerId,\n        ownerName,        // <-- new\n        time: timeReadable,    // human-readable instead of epoch\n        timeISO,               // ISO version (handy for sorting/databases)\n      },\n    });\n  }\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1616,
          -256
        ],
        "id": "cb19a335-3cfd-4fc3-8d69-dbc3a08701e3",
        "name": "processMessage"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c",
            "mode": "list",
            "cachedResultName": "Control",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1317395315,
            "mode": "list",
            "cachedResultName": "Comments",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WAE8cQ0vxpJiNst33p7hzhYIUR_Hx_seW4AFkdB539c/edit#gid=1317395315"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "time": "={{ $json.time }}",
              "mediaId": "={{ $json.mediaId }}",
              "CommenterName": "={{ $json.commenterName }}",
              "CommenterId": "={{ $json.commenterId }}",
              "CommentId": "={{ $json.commentId }}",
              "Replied": "No",
              "timeISO": "={{ $json.timeISO }}",
              "Owner": "={{ $json.ownerName }}",
              "OwnerId": "={{ $json.ownerId }}",
              "CommentText": "={{ $json.text }}"
            },
            "matchingColumns": [
              "CommentId"
            ],
            "schema": [
              {
                "id": "time",
                "displayName": "time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "timeISO",
                "displayName": "timeISO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommentId",
                "displayName": "CommentId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommenterId",
                "displayName": "CommenterId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommenterName",
                "displayName": "CommenterName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mediaId",
                "displayName": "mediaId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "OwnerId",
                "displayName": "OwnerId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Owner",
                "displayName": "Owner",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CommentText",
                "displayName": "CommentText",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Reponse",
                "displayName": "Reponse",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "RepliedAt",
                "displayName": "RepliedAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Replied",
                "displayName": "Replied",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1392,
          -256
        ],
        "id": "9c9aca93-aeff-4e17-9918-a68c53196a62",
        "name": "updateSheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8staDpXz9g846djb",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.field }}",
                      "rightValue": "comments",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "9bab89fe-62f9-4d43-8502-8841e83fe57a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "comments"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9912680f-a1a8-46f5-afcd-14e81b5e6853",
                      "leftValue": "={{ $json.field }}",
                      "rightValue": "messages",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "messages"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1840,
          -160
        ],
        "id": "c647d9db-e44d-4a60-8d04-ec08072c3164",
        "name": "Switch"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2064,
          -480
        ],
        "id": "6a66b411-617e-4370-a5ed-7f2477bebec1",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DROP TABLE IF EXISTS messages CASCADE;\nDROP TABLE IF EXISTS conversations CASCADE;\nDROP TABLE IF EXISTS fans CASCADE;\nDROP TABLE IF EXISTS girls CASCADE;\nDROP TABLE IF EXISTS personas CASCADE;\nDROP TABLE IF EXISTS users CASCADE;\nDROP TABLE IF EXISTS girl_daily_limits CASCADE;\n\nCREATE TABLE girls (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  timezone TEXT NOT NULL,\n  awake_start TEXT NOT NULL,\n  awake_end TEXT NOT NULL,\n  default_fan_daily_cap INT NOT NULL DEFAULT 10,\n  max_fan_daily_cap INT NOT NULL DEFAULT 20,\n  global_daily_cap INT NOT NULL DEFAULT 150,\n  messages_sent_today INT NOT NULL DEFAULT 0,\n  messages_sent_date DATE NOT NULL DEFAULT CURRENT_DATE\n);\n\nCREATE TABLE fans (\n  fan_id TEXT PRIMARY KEY,\n  fan_name TEXT,\n  fan_nick TEXT NOT NULL DEFAULT 'sir',\n  girl_id TEXT REFERENCES girls(id),\n  manual_mode BOOLEAN NOT NULL DEFAULT false,\n  label TEXT,\n  summary_text TEXT,\n  last_summarized_at TIMESTAMPTZ,\n  daily_reply_cap INT NOT NULL DEFAULT 10,\n  replies_today INT NOT NULL DEFAULT 0,\n  replies_today_date DATE\n);\n\nCREATE TABLE conversations (\n  fan_id TEXT PRIMARY KEY REFERENCES fans(fan_id),\n  girl_id TEXT REFERENCES girls(id),\n  last_message_at TIMESTAMPTZ,\n  pending_reply BOOLEAN NOT NULL DEFAULT false\n);\n\nCREATE TABLE messages (\n  id SERIAL PRIMARY KEY,\n  conversation_id TEXT REFERENCES conversations(fan_id),\n  role TEXT NOT NULL CHECK (role IN ('fan','girl')),\n  content TEXT NOT NULL,\n  platform_message_id TEXT UNIQUE,\n  created_at TIMESTAMPTZ\n);\n\nINSERT INTO girls (id, name, timezone, awake_start, awake_end, default_fan_daily_cap, max_fan_daily_cap, global_daily_cap) VALUES\n('17841478136820581', 'Maeve', 'Europe/Dublin', '08:00', '01:00', 10, 20, 150),\n('17841480189765921', 'Elara', 'Europe/Oslo', '07:00', '23:00', 10, 20, 150),\n('17841480706715642', 'Amara', 'Africa/Lagos', '08:00', '00:00', 10, 20, 150);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2064,
          -928
        ],
        "id": "bc97e433-3547-4d97-893e-f18296266cbd",
        "name": "createDatabase",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.read !== undefined }}",
                      "rightValue": "comments",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "9bab89fe-62f9-4d43-8502-8841e83fe57a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "discard (NoOp)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9912680f-a1a8-46f5-afcd-14e81b5e6853",
                      "leftValue": "={{ $json.message.is_echo }}",
                      "rightValue": "messages",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "echo (outbound)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "eb525cd5-bf1b-44be-b29a-aa5afc4d5856",
                      "leftValue": "={{ $json.message !== undefined && !$json.message.is_echo }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "genuine inbound"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1616,
          -64
        ],
        "id": "fa714106-15ad-4639-8cb4-1cbb0f86062b",
        "name": "Switch1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e514ede7-ad49-4f36-83bd-64aea4ab4bee",
                "name": "igAccountId",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "110cf11b-0ebf-4eb1-8233-b10561edf226",
                "name": "otherPartyId",
                "value": "={{ $json.sender.id === $json.id ? $json.recipient.id : $json.sender.id }}",
                "type": "string"
              },
              {
                "id": "389b69e7-112e-469b-85f1-3d9a65b02e2b",
                "name": "role",
                "value": "={{ $json.message.is_echo ? 'girl' : 'fan' }}",
                "type": "string"
              },
              {
                "id": "d57a00c8-684f-4b70-ac44-33dddf4bdb65",
                "name": "text",
                "value": "={{ $json.message.text }}",
                "type": "string"
              },
              {
                "id": "35eae14b-ce91-4c5b-be46-69437e0a6408",
                "name": "mid",
                "value": "={{ $json.message.mid }}",
                "type": "string"
              },
              {
                "id": "8ccc2fde-3e4d-42bf-9a2c-8980c6693634",
                "name": "eventTimestamp",
                "value": "={{ $json.timestamp }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1392,
          -48
        ],
        "id": "0e59c290-8af4-4ded-9412-1dab1319ca41",
        "name": "Set Fields"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_size_pretty(SUM(pg_total_relation_size(relid))) AS my_data_size\nFROM pg_catalog.pg_statio_user_tables;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1840,
          -688
        ],
        "id": "9945bcdf-c36c-43eb-9a6b-bbeffbf0c86f",
        "name": "monitorSize",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  relname AS table_name,\n  pg_size_pretty(pg_total_relation_size(relid)) AS size\nFROM pg_catalog.pg_statio_user_tables\nORDER BY pg_total_relation_size(relid) DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1840,
          -480
        ],
        "id": "2c41e53f-7eb0-4460-be00-28a29d4d3571",
        "name": "monitorSizePerTable",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT role, content, created_at FROM messages ORDER BY created_at DESC LIMIT 5;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1440,
          -656
        ],
        "id": "6acb4f25-2cc5-4b11-918d-dd46c0fea67a",
        "name": "Test",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, default_fan_daily_cap FROM girls WHERE id = '{{ $('Set Fields').item.json.igAccountId }}';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1168,
          -48
        ],
        "id": "009e9b8f-f0d3-456b-9c9e-d082a719fe47",
        "name": "updateGirls",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversations (fan_id, girl_id, last_message_at)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('updateGirls').item.json.id }}',\n  now()\n)\nON CONFLICT (fan_id) DO UPDATE\n  SET last_message_at = CASE\n    WHEN '{{ $('Set Fields').item.json.role }}' = 'fan' THEN now()\n    ELSE conversations.last_message_at\n  END;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -720,
          -48
        ],
        "id": "cc22c897-12db-419d-860b-acf1974b4def",
        "name": "updateConversations",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO messages (conversation_id, role, content, platform_message_id, created_at)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('Set Fields').item.json.role }}',\n  '{{ $('Set Fields').item.json.text.replace(/'/g, \"''\") }}',\n  '{{ $('Set Fields').item.json.mid }}',\n  to_timestamp({{ $('Set Fields').item.json.eventTimestamp }}::bigint / 1000.0)\n)\nON CONFLICT (platform_message_id) DO NOTHING;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -496,
          -48
        ],
        "id": "6ad64163-84cb-46d3-846d-030bf38c4823",
        "name": "updateMessages",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO fans (fan_id, girl_id, daily_reply_cap, replies_today_date)\nVALUES (\n  '{{ $('Set Fields').item.json.otherPartyId }}',\n  '{{ $('updateGirls').item.json.id }}',\n  {{ $('updateGirls').item.json.default_fan_daily_cap }},\n  CURRENT_DATE\n)\nON CONFLICT (fan_id) DO NOTHING;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -944,
          -48
        ],
        "id": "7baddf70-3fb6-49d9-a103-1fc30a464299",
        "name": "updateFans",
        "credentials": {
          "postgres": {
            "id": "PlkpKDh3ZUPtl1UI",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Instagram Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "processMessage": {
        "main": [
          [
            {
              "node": "updateSheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "processMessage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "monitorSizePerTable",
              "type": "main",
              "index": 0
            },
            {
              "node": "monitorSize",
              "type": "main",
              "index": 0
            },
            {
              "node": "Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [],
          [
            {
              "node": "Set Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Fields": {
        "main": [
          [
            {
              "node": "updateGirls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updateGirls": {
        "main": [
          [
            {
              "node": "updateFans",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updateConversations": {
        "main": [
          [
            {
              "node": "updateMessages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updateFans": {
        "main": [
          [
            {
              "node": "updateConversations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": "Version 67219772",
    "description": "",
    "autosaved": true
  },
  "tags": []
}