workflows/publishStory__h7NYAUzC9jYQ9FjR.json
{
  "updatedAt": "2026-05-09T09:37:21.772Z",
  "createdAt": "2026-05-09T09:36:44.722Z",
  "id": "h7NYAUzC9jYQ9FjR",
  "name": "publishStory",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        1808
      ],
      "id": "11d78433-9167-4fc1-a6c2-da7f43b82cc9",
      "name": "Wait4",
      "webhookId": "af0e152c-fd9c-49c3-8691-6011842bf9db"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        1888
      ],
      "id": "fc6cca1f-80f1-4b0f-8686-51f9a050644b",
      "name": "loopStories1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('loopStories1').item.json.account_id }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('loopStories1').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        1952
      ],
      "id": "a78f558f-56b6-4955-a162-f3dfda470a4c",
      "name": "publishStory2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.account_id }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "STORIES"
            },
            {
              "name": "image_url",
              "value": "=https://raw.githubusercontent.com/argentumorchesta-rgb/media/main/images/{{ $json.file_name }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        1808
      ],
      "id": "d0b16383-c251-487b-a21b-3177fa552e24",
      "name": "creatingStory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-random-wait.randomWait",
      "typeVersion": 1,
      "position": [
        -400,
        1536
      ],
      "id": "1d768754-a682-44cd-8494-40a936515e9b",
      "name": "Random Wait"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "20d56431-97b4-49d6-8788-cfe4a479c4e9",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -800,
        1888
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "loopStories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopStories1": {
      "main": [
        [
          {
            "node": "Random Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "creatingStory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creatingStory": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "publishStory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publishStory2": {
      "main": [
        [
          {
            "node": "loopStories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0b43f5e8-8b67-4bb0-bccb-5ff7c4a2ef41",
  "activeVersionId": "7d38172e-c274-4a47-bd7d-b1be0e3b3de2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-09T09:36:44.727Z",
      "createdAt": "2026-05-09T09:36:44.727Z",
      "role": "workflow:owner",
      "workflowId": "h7NYAUzC9jYQ9FjR",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T09:36:44.728Z",
    "createdAt": "2026-05-09T09:36:44.728Z",
    "versionId": "7d38172e-c274-4a47-bd7d-b1be0e3b3de2",
    "workflowId": "h7NYAUzC9jYQ9FjR",
    "nodes": [
      {
        "parameters": {
          "resume": "timeInterval",
          "amount": 1,
          "unit": "seconds"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          64,
          1808
        ],
        "id": "11d78433-9167-4fc1-a6c2-da7f43b82cc9",
        "name": "Wait4",
        "webhookId": "af0e152c-fd9c-49c3-8691-6011842bf9db"
      },
      {
        "parameters": {
          "splitInBatchesNotice": "",
          "batchSize": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -592,
          1880
        ],
        "id": "fc6cca1f-80f1-4b0f-8686-51f9a050644b",
        "name": "loopStories1"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "=https://graph.instagram.com/v25.0/{{ $('loopStories1').item.json.account_id }}/media_publish",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "form-urlencoded",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "access_token",
                "value": "={{ $('loopStories1').item.json.token }}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          288,
          1952
        ],
        "id": "a78f558f-56b6-4955-a162-f3dfda470a4c",
        "name": "publishStory2"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "=https://graph.instagram.com/v25.0/{{ $json.account_id }}/media",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "form-urlencoded",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "media_type",
                "value": "STORIES"
              },
              {
                "name": "image_url",
                "value": "=https://raw.githubusercontent.com/argentumorchesta-rgb/media/main/images/{{ $json.file_name }}"
              },
              {
                "name": "access_token",
                "value": "={{ $json.token }}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -160,
          1808
        ],
        "id": "d0b16383-c251-487b-a21b-3177fa552e24",
        "name": "creatingStory"
      },
      {
        "type": "n8n-nodes-random-wait.randomWait",
        "typeVersion": 1,
        "position": [
          -400,
          1536
        ],
        "id": "1d768754-a682-44cd-8494-40a936515e9b",
        "name": "Random Wait",
        "disabled": false,
        "parameters": {
          "unit": "seconds",
          "min": 1,
          "max": 5
        }
      },
      {
        "id": "20d56431-97b4-49d6-8788-cfe4a479c4e9",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -800,
          1880
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "loopStories1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}