workflows/publishReel__I1tpmM6IOp46YeDE.json
{
  "updatedAt": "2026-06-11T20:30:51.147Z",
  "createdAt": "2026-06-01T09:41:10.134Z",
  "id": "I1tpmM6IOp46YeDE",
  "name": "publishReel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        -320
      ],
      "id": "81b9620c-8e2b-44c3-bdcc-043b1012c610",
      "name": "loopStories1"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -320
      ],
      "id": "dac720c8-65c2-4b15-af05-51bf583a43b5",
      "name": "Wait4",
      "webhookId": "af0e152c-fd9c-49c3-8691-6011842bf9db"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-random-wait.randomWait",
      "typeVersion": 1,
      "position": [
        -304,
        -512
      ],
      "id": "8668532c-1fff-4cf2-a495-60e09ca747a0",
      "name": "Random Wait"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "9145b6bf-cfb3-4fd4-bf1b-97c605328e5f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -752,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.account_id }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "=https://raw.githubusercontent.com/argentumorchesta-rgb/media/main/images/{{ $json.file_name }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.captions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        -320
      ],
      "id": "bd5e762d-e588-479c-af84-1ba2f1672a56",
      "name": "creatingReel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('loopStories1').item.json.account_id }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('loopStories1').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -256
      ],
      "id": "635faf94-d84c-4381-b590-1e7bf97eac46",
      "name": "publishReel"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "loopStories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopStories1": {
      "main": [
        [
          {
            "node": "Random Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "creatingReel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "publishReel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creatingReel": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publishReel": {
      "main": [
        [
          {
            "node": "loopStories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "343525ef-1ff9-4a70-8711-c48a72187157",
  "activeVersionId": "343525ef-1ff9-4a70-8711-c48a72187157",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-01T09:41:10.139Z",
      "createdAt": "2026-06-01T09:41:10.139Z",
      "role": "workflow:owner",
      "workflowId": "I1tpmM6IOp46YeDE",
      "projectId": "gjrgqNCD0fEExU4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-11T20:30:59.000Z",
    "createdAt": "2026-06-11T20:30:51.148Z",
    "versionId": "343525ef-1ff9-4a70-8711-c48a72187157",
    "workflowId": "I1tpmM6IOp46YeDE",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -528,
          -320
        ],
        "id": "81b9620c-8e2b-44c3-bdcc-043b1012c610",
        "name": "loopStories1"
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -80,
          -320
        ],
        "id": "dac720c8-65c2-4b15-af05-51bf583a43b5",
        "name": "Wait4",
        "webhookId": "af0e152c-fd9c-49c3-8691-6011842bf9db"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-random-wait.randomWait",
        "typeVersion": 1,
        "position": [
          -304,
          -512
        ],
        "id": "8668532c-1fff-4cf2-a495-60e09ca747a0",
        "name": "Random Wait"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "9145b6bf-cfb3-4fd4-bf1b-97c605328e5f",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -752,
          -320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.instagram.com/v25.0/{{ $json.account_id }}/media",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "video_url",
                "value": "=https://raw.githubusercontent.com/argentumorchesta-rgb/media/main/images/{{ $json.file_name }}"
              },
              {
                "name": "access_token",
                "value": "={{ $json.token }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.captions }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -304,
          -320
        ],
        "id": "bd5e762d-e588-479c-af84-1ba2f1672a56",
        "name": "creatingReel"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.instagram.com/v25.0/{{ $('loopStories1').item.json.account_id }}/media_publish",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "access_token",
                "value": "={{ $('loopStories1').item.json.token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          144,
          -256
        ],
        "id": "635faf94-d84c-4381-b590-1e7bf97eac46",
        "name": "publishReel"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "loopStories1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "loopStories1": {
        "main": [
          [
            {
              "node": "Random Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "creatingReel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "publishReel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "creatingReel": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "publishReel": {
        "main": [
          [
            {
              "node": "loopStories1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argentum Orchesta",
    "name": "Version 343525ef",
    "description": "",
    "autosaved": true
  },
  "tags": []
}